---
import { siteConfig } from "../config";
---

<section id="achievements" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16">

    <div class="lg:col-span-4">
      <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-blue-300">
        Achievements
      </h2>

      <div
        class="w-[75px] h-[5px] mt-2 rounded-full"
        style={`background-color:${siteConfig.accentColor}`}
      ></div>
    </div>

    <div class="lg:col-span-8 space-y-8">

      {
        siteConfig.Achievements.map((achievement) => (

          <div class="bg-white rounded-2xl p-8 shadow-lg">

            <h3 class="text-2xl font-bold text-gray-900">
              {achievement.name}
            </h3>

            <p class="mt-4 text-gray-700 leading-relaxed">
              {achievement.description}
            </p>

          </div>

        ))
      }

    </div>

  </div>
</section>